<h1> Data Science Tools And Ecosystem </h1>

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the most popular languages that Data Scientists use are: 
    1. Python
    2. R
    3.SQL
    4.JavaScript

## Objectives
Data Science tools are used to create, extract and aanalyze data both structured and unstructured.
Some of the popular languages that Data Scientists use are: Python, R, JavaScript, SQL AND C++

## Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NymPy
    3. Keras
    4. Matplotlib

 | Data Science Tools |
 | ----------------- |
 | Pandas |
 | Apache Hadoop |
 | Apache Spark |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
(3*4)+5

17

In [5]:
## This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

<h2> Author </h2>
Sarah Odina